{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Dashboard
{% endblock %}

{% block styles %}
{{super()}}
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<link rel="stylesheet" href="{{url_for('.static', filename='bootstrap.min.css')}}">
<srcipt src="{{url_for('.static', filename='bootstrap.min.js')}}">
<style>
  html, body {
    font-family: 'Montserrat', sans-serif;
  }
</style>
{% endblock %}

{% block content %}

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Brand</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/change_password/admin">Change Password</a></li>
            <li><a href="/print_inventory">Print Inventory</a></li>
            <li><a href="/dashboard/admin/cancel_requests">Cancel Requests</a></li>

          </ul>
        </li>
      </ul>
      <!-- <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form> -->
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/dashboard/admin">Dashboard</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><b>{{ session_username }}</b> <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Settings</a></li>
            <li><a href="#">Profile</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/logout">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<h2 style="text-align: center;padding-top: 3%;">Order Report</h2>
<div class="container"  style="padding-top: 5%;">
    <table class="table">
      <thead>
        <tr>
          <th>Product</th>
          <th>Quantity Ordered</th>
          <th>Order ID</th>
       </tr>
      </thead>
      </tbody>
          {% for each_product in all_products %}
            {% for order in orders %}
              {% set val = 0 %}
              {% for each_order in order %}
                {% set val = val + 1 %}
                {% if each_order.product_id == each_product.id %}
                  <tr>
                    {% if val == 1 %}
                      <td>{{ each_product.description }}</td>
                    {% else %}
                      <td></td>
                    {% endif %}
                    <td>{{ each_order.quantity }}</td>
                    <td><b>{{ each_order.id }}</b></td>
                  </tr>
                {% endif %}
              {% endfor %}
            {% endfor %}
            <td><b>Quantity Left</b> : {{ each_product.quantity_avail }}</td>
          {% endfor %}
      </tbody>
    </table>
    <a href="/PrintReport" class="btn btn-default" style="text-align: right;">PRINT REPORT</a>
  </div>
  <br><br>
</div>
{% endblock %}
