{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Dashboard
{% endblock %}

{% block styles %}
{{super()}}
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<link rel="stylesheet" href="{{url_for('.static', filename='bootstrap.min.css')}}">
<link rel="stylesheet" href="{{url_for('.static', filename='styles.css')}}">
<srcipt src="{{url_for('.static', filename='bootstrap.min.js')}}">
<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
{% endblock %}

{% block content %}

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Brand</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
        <li><a href="/dashboard/notifications">Notifications</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/change_password/dealer">Change Password</a></li>
            <li><a href="/update_item">Update Item</a></li>
          </ul>
        </li>
      </ul>
      <!-- <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form> -->
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/add"><i class="fas fa-plus" style="color: white;"></i>&nbsp;&nbsp;ADD</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><b>{{ session_username }}</b> <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Settings</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">My products</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/logout">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<h2 style="text-align: center;padding-top: 3%;">Orders</h2>
<div class="container"  style="padding-top: 5%;">
    {% for order in orders %}
      <div class="jumbotron">

        <div class="row">
          <div class="col-lg-6" style="border-right:  0.5px solid black;">
            {% for product in products %}
                {% if product[0].id == order.product_id %}
                  {% set each_cost = product[0].cost_each | int %}
                  {% set quantity = order.quantity | int %}
                  {% set total = each_cost*quantity %}

                  <h2><b>Order #</b> {{ order.id }}</h2>
                  <hr>
                  <h3><b>{{ product[0].description }}</b> - <span style="font-size: 26px;">$&nbsp;{{ product[0].cost_each }}</span></h3>
                  <br>
                  <h3><b>Quantity</b> :&nbsp;{{ order.quantity }}</h3>
                  <br>
                  <h3><b>TOTAL ORDER COST</b> : &nbsp;$ {{ total }}</h3>
                  <hr>
                  <a href="/delivered/{{order.id}}" class="btn btn-default">DELIVERED</a>
                  {% break %}


               {% endif %}
            {% endfor %}
          </div>
          <div class="col-lg-6">
            <div style="padding-left: 1em;">
              <h3><b>Ordered By : </b></h3>
              <br>
              {% for client in clients %}
                {% if client[0].id == order.client_id %}
                  <h3><b>Name </b> : &nbsp; {{ client[0].username }}</h3>
                  <br>
                  {% break %}
                {% endif %}
              {% endfor %}
              {% for client_data in clients_data %}
                {% if order.client_id == client_data[0].client_id %}
                  <h4><b>Address </b> : &nbsp;{{ client_data[0].address }}</h4>
                  <h4><b>City </b> : &nbsp;{{ client_data[0].city }}</h4>
                  <h4><b>State </b> : &nbsp;{{ client_data[0].state }}</h4>
                  <h4><b>Pincode </b> : &nbsp;{{ client_data[0].pincode }}</h4>
                  <hr>
                  <h4><b>Contact </b> : &nbsp;{{ client_data[0].contact }}</h4>
                  {% break %}
                {% endif %}
              {% endfor %}
            </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
