<!doctype html>
<html>
   <body>
   
      <table border = 1>
         <thead>
            <td>ID</td>
            <td>Dealer ID</td>
            <td>Description</td>
            <td>Quantity</td>
            <td>Cost Per Piece</td>
            <td>Minimum Quantity</td>
         </thead>
         
         {% for row in rows %}
            <tr>
               <td>{{row["id"]}}</td>
               <td>{{row["dealer_id"]}}</td>
               <td> {{ row["description"]}}</td>
               <td>{{row['quantity_avail']}}</td> 
               <td> {{ row["cost_each"]}}</td>
               <td> {{ row["min_quantity"]}}</td> 
            </tr>
         {% endfor %}
      </table>
      
      <a href = "/dashboard/admin">Go back to dashboard</a>
      
   </body>
</html>