{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Dashboard
{% endblock %}

{% block styles %}
{{super()}}
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<link rel="stylesheet" href="{{url_for('.static', filename='bootstrap.min.css')}}">
<link rel="stylesheet" href="{{url_for('.static', filename='styles.css')}}">
<srcipt src="{{url_for('.static', filename='bootstrap.min.js')}}">
<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
{% endblock %}

{% block content %}
<div class="container"  style="padding-top: 5%;text-align: center;">
  <i class="fas fa-times-circle" style="width: 200px; height: 200px;color: #ff0000;"></i>
  <h2> {{ message }} </h2>
  <hr />
  <a href="/dashboard/client" class="btn btn-default">BACK TO DASHBOARD</a>
</div>
{% endblock %}
